:root {
  --background: linear-gradient(180deg, #170e7d 0%, #15104e 100%);
}
.admin-dashboard {
  width: 100%;
  height: 78px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  background: var(--background);
}
.admin-dashboard .admin-link-container {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-dashboard .admin-link-container img {
  width: 131.312px;
  height: 46.983px;
}
.admin-dashboard .admin-link-container p {
  text-decoration: none;
  text-transform: capitalize;
  padding-bottom: 10px;
  color: #fff;
  cursor: pointer;
}
.admin-dashboard .admin-link-container p:hover {
  border-bottom: 4px solid #4033d7;
}
.admin-dashboard .profile-container {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.admin-dashboard .profile-container button {
  padding: 7px 24px 8px 22px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 8px;
  color: #fff;
}
.profile-container .profile {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: max-content;
}
.profile-container .profile img {
  margin-left: 10px;
}
.admin-dashboard .profile-container span {
  color: white;
}
.admin-dashboard .profile-container button,
img {
  cursor: pointer;
}

.lecture-dashboard {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  z-index: 99;
}
.lecture-dashboard .lecture-container {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.lecture-dashboard .lecture-container img {
  margin: 0 0 20px 30px;
}
.lecture-container p {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  width: 200px;
  height: 51px;
  margin-top: 5px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.lecture-container p:hover {
  background-color: #382dbc;
}
.lecture-dashboard .lecture-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  margin-top: 3rem;
  padding-top: 10px;
  border-top: 1px solid #fff;
}

.lecture-dashboard .lecture-profile button {
  background-color: transparent;
  color: #fff;
  padding: 7px 24px 8px 22px;
  border: 0;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  width: 110px;
}
.lecture-dashboard .lecture-profile .profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.lecture-dashboard .lecture-profile .profile span {
  margin-left: 10px;
  text-transform: capitalize;
  color: #fff;
}

.lecture-profile img {
  cursor: pointer;
}
