.single-assingment-container {
  width: 1470px;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 13rem;
  top: 1rem;
  padding-left: 6rem;
  border-radius: 8px 8px 0px 0px;
}
.single-assingment-container h1 {
  text-align: left;
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.assinment-table {
  width: 900px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #dedede;
  color: #000;
  margin-bottom: 2rem;
}
.assinment-table .assignment-title {
  width: 100%;
  display: flex;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  background: #f7f9fb;
}
.assignment-title h2 {
  height: 46px;
  width: 75%;
  margin: 0;
  border-radius: 8px 0px 0px 0px;
  background: linear-gradient(180deg, #170e7d 0%, #645ea8 100%);
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-transform: capitalize;
  color: #fff;
}
.copy {
  display: flex;
  justify-content: space-evenly;
  width: 245px;
}
.assignment-description {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  padding: 10px 15px;
}
.assignment-description span {
  position: absolute;
  right: 10px;
  top: 5px;
  color: red;
}
.assinment-table .assignment-description p {
  padding: 0%;
  text-align: left;
  width: 95%;
  height: fit-content;
  color: #9f9f9f;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.assignment-description h4 {
  margin: 0px 0 10px 10px;
  color: #31394e;
  font-weight: 400;
}
.student-table {
  width: 900px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.student-table .student-length {
  display: flex;
  border-bottom: 2px solid #b9bbbe;
  align-items: center;
}
.student-length h1 {
  margin: 10px 0;
}
.student-table .student-length span {
  margin: 0px 5px 0 0px;
  color: #5c34ec;
  text-align: center;
  font-weight: 700;
}
.student-length img {
  margin: 0 15px;
  cursor: pointer;
}
.student-table p {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  color: #9f9f9f;
  font-size: 12px;
  font-weight: 400;
}
.invited span {
  color: #9f9f9f;
  font-size: 12px;
}
.invited {
  border-bottom: 0.5px solid #b9bbbe;
  padding: 15px 0 15px 50px;
  display: flex;
}
.invited img {
  margin-right: 20px;
  width: 32px;
  height: 32px;
}

.single-assingment-container a {
  position: absolute;
  bottom: 50px;
  right: 500px;
  text-decoration: none;
  color: #31394e;
  font-size: 12px;
  font-weight: 700;
}
