<main class="container">
  <div class="login-barner">
    <div class="barner-content">
      <h1>A Git- Inspired Assignment submission system</h1>
      <p>
        Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
        interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos.
      </p>
    </div>
    <img src="../../../assets/images/barner.svg" alt="" />
  </div>
  <div class="form-container">
    <form [formGroup]="LoginForm">
      <h1>Reset Password</h1>
      <div>
        <div [class]="ShowPasswordErrors('password') ? 'error' : 'password-controler'">
          <label>new password</label>
          <input
            [type]="passwordVisibility ? 'text' : 'password'"
            placeholder="*******"
            formControlName="password"
          />
          <img src="../../../assets/icons/eye-icon.svg" alt="" (click)="showPassword()" />
        </div>
        <div
          [class]="
            ShowPasswordErrors('confirmPassword') &&
            LoginForm.get('confirmPassword')?.value !== LoginForm.controls['password'].value
              ? 'error'
              : 'password-controler'
          "
        >
          <label>confirm password</label>
          <input
            [type]="passwordVisibility ? 'text' : 'password'"
            placeholder="*******"
            formControlName="confirmPassword"
          />
          <img
            src="../../../assets/icons/eye-icon.svg"
            alt="togglepassword"
            (click)="showPassword()"
          />
        </div>
      </div>
      <ng-container *ngIf="!(isLoading$ | async); else loading">
        <button (click)="onSubmit()" [disabled]="LoginForm.invalid || (isLoading$ | async)">Reset Password</button>
      </ng-container>
      <ng-template #loading>
        <button (click)="onSubmit()"><app-spinner></app-spinner> Reset Password</button>
      </ng-template>
    </form>
  </div>
</main>
